# Error Codes

The following is a list of all possible errors that can be issued by API calls.
{{#errors}}

## {{{error_code}}}

{{{error_description}}}

_Signature:_

```
{{{error_code_unescaped}}}({{parameters}})
```
{{/errors}}