---
 layout: doc
---

# Classes

The following classes are defined:

|Name                |Description                                                           |
|:-------------------|:---------------------------------------------------------------------|
{{#classes}}
|[{{{name}}}](@root@management-api/class-{{{name_lower}}}.html)|{{{description}}}|
{{/classes}}
