- title: API Reference
  url: @root@api-ref-autogen.html
  subfolderlist:
    - title: Classes
      url: @root@management-api/classes.html
{{#classes}}
    - title: Class:{{{name}}}
      url: @root@management-api/class-{{{name_lower}}}.html
{{/classes}}
    - title: Relationships Between Classes
      url: @root@management-api/relationships-between-classes.html
    - title: Types
      url: @root@management-api/types.html
    - title: Error Handling
      url: @root@management-api/api-ref-autogen-errors.html
