- title: API Reference
  url: @root@management-api.html
  subfolderlist:
    - title: Classes
      url: @root@management-api/classes.html
    - title: Relationships Between Classes
      url: @root@management-api/relationships-between-classes.html
    - title: Types
      url: @root@management-api/types.html
{{#classes}}
    - title: "Class: {{{name}}}"
      url: @root@management-api/class-{{{name_lower}}}.html
{{/classes}}
    - title: Error Codes
      url: @root@management-api/api-errors.html
