Getting Started
---------------

1.  Extract the XenServer.NET samples archive.

2.  Extract the XenServer.NET binaries archive, making sure to place the
    binaries in the same directory as the samples.
	
3.  Open XenSdkSample.sln inside Visual Studio (2013 or greater).


Three console applications are produced:

GetVariousRecords:
   Displays some information on Hosts, Storage Repositories and VMs.

VmPowerStates:
   Clones an existing VM and takes the clone through the various power states.

GetVmRecords:
   Displays the list of VM records on the server.


Each application expects the parameters <host> <username> <password> to be
passed to its Main method.
