.pc
*~
*\#*
*.orig
*.rej
*.a
*.annot
*.aux
*.class
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.d
*.dvi
*.flc
*.log
*.o
*.omc
*.opic
*.opt
*.run
*.pyc
*.omakedb
*.omakedb.lock
*.db
*.exe
*.exe.mdb
.*.swp
*.dat
*.gp
*.spot
*.spit
*.cmt
*.cmti
*.so
