#
# This is the configuration file of the pre-commit framework for this repository:
# https://pypi.org/project/pre-commit / https://pre-commit.com
#
# It is a Python framework for managing and multi-language pre-commit hooks.
# pre-commit runs in the GitHub Workflow of this project, and
# it can be run locally as well for early feedback and e.g. formatting checks.
#
# For only installing the package itself, run:
# $ pip3 install pre-commit
#
# On the initial run, pre-commit downloads its checkers, subsequent runs are fast:
#
# $ pre-commit run    # automatically checks which checks are needed.
# $ pre-commit run -a # runs all fixes and checks, even when not needed#
#
# When this works, you can enable it as the pre-commit hook for this git clone:
# $ pre-commit install
# $ pre-commit install --hook-type pre-push
#
# You can skip checks if you commit very often you don't want them to run, e.g:
# export SKIP=pytest;git commit -m "quick save" (or for --amend)
#
# Hooks that do do not specify the `stages:` field, get these default stages assigned:
default_stages: [commit, push, manual]
repos:
# Recommendation for a minimal git pre-commit hook:
# https://github.com/pre-commit/pre-commit-hooks/blob/main/README.md:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: no-commit-to-branch
        name: "The master branch should be pulled only, don't commit to it"
        args: [--branch, master]
        always_run: true
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: check-executables-have-shebangs
        exclude: ocaml

#
# Run pytest and diff-cover to check that the new /python3 test suite passes.
# This hook uses a local venv containing the required dependencies. When adding
# new dependencies, they should be added to the additional_dependencies below.
#
-   repo: local
    hooks:
    -   id: pytest
        files: python3/
        name: check that the Python3 test suite in passes
        entry: env PYTHONDEVMODE=yes sh -c 'pytest --cov
            --cov-report=term-missing --cov-report=xml --cov-report=html &&
            diff-cover --ignore-whitespace --compare-branch=origin/master
            --show-uncovered --html-report .git/coverage-diff.html
            --fail-under 60 .git/coverage.xml'
        require_serial: true  # Only one at a time, don't parallelize.
        pass_filenames: false
        language: python
        types: [python]
        additional_dependencies:
        - coverage
        - diff-cover
        - future
        - opentelemetry-api
        - opentelemetry-exporter-zipkin-json
        - opentelemetry-sdk
        - pytest-coverage
        - pytest-mock
        - mock
        - wrapt


    -   id: mypy-reviewdog
        name: run mypy with reviewdog to check for type errors
        additional_dependencies:
        - mypy
        - opentelemetry-api
        - opentelemetry-exporter-zipkin-json
        - opentelemetry-sdk
        - pytest
        - types-mock
        - wrapt
        language: python
        files: python3/
        entry: sh -c 'python3/tests/reviewdog.sh mypy || echo mypy diff review failed!'
        verbose: true
        require_serial: true  # Only one at a time, don't parallelize.


-   repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.353
    hooks:
    -   id: pyright
        name: check that python3 tree passes pyright/VSCode check
        files: python3/
        additional_dependencies:
        - opentelemetry-api
        - opentelemetry-exporter-zipkin-json
        - opentelemetry-sdk
        - pytest
        - mock


# Check that pylint passes for the changes in new /python3 code.
-   repo: local
    hooks:
    -   id: pylint
        files: python3/
        name: check that changes to python3 tree pass pylint
        entry: env PYTHONPATH=scripts/examples/python
            diff-quality --violations=pylint
            --ignore-whitespace --compare-branch=origin/master
        pass_filenames: false
        types: [python]
        language: python
        additional_dependencies: [diff-cover, pylint, pytest]


# pre-push hook (it only runs if you install pre-commit as a pre-push hook):
-   repo: local
    hooks:
    -   id: pytype
        # It can be manually tested using: `pre-commit run -av --hook-stage push`
        name: pytype with reviewdog filter for local and GitHub PR review
        files: python3/
        entry: python3/tests/reviewdog.sh pytype
        stages: [push,manual]
        pass_filenames: true
        types: [python]
        verbose: true
        # This hook runs locally only when Python files change:
        language: python
        require_serial: true  # Only one at a time, don't parallelize.
        # Pytype supports running on Python 3.8 to Python3.11 currently:
        # https://google.github.io/pytype/support.html
        # If a dev's default python3 interpreter is outside that range, but
        # developers have such version installed, it can be configured here:
        # language_version: python3.11
        additional_dependencies:
        - future
        - opentelemetry-api
        - opentelemetry-exporter-zipkin-json
        - opentelemetry-sdk
        - pandas
        - pytest
        - pytype
