language: c
sudo: false
services:
    - docker
install:
    - wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-docker.sh
script:
    - bash -ex .travis-docker.sh
env:
    global:
        - OCAML_VERSION=4.07
        - DISTRO=debian-unstable
        - PINS="rrdd-plugin:. xapi-rrdd-plugin:."
        - PACKAGE=rrdd-plugin
        - TESTS=false
    matrix:
        - BASE_REMOTE=git://github.com/xapi-project/xs-opam
        - EXTRA_REMOTES=git://github.com/xapi-project/xs-opam
matrix:
    fast_finish: true
    allow_failures:
        - env: EXTRA_REMOTES=git://github.com/xapi-project/xs-opam
