language: c
sudo: required
service: docker
install:
  - wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-docker.sh
  - wget https://raw.githubusercontent.com/xapi-project/xs-opam/master/tools/xs-opam-ci.env
  - source xs-opam-ci.env
script: bash -ex .travis-docker.sh
env:
  global:
    - PINS="gzip:. http-svr:. pciutil:. sexpr:. stunnel:. uuid:. xapi-compression:. xapi-libs-transitional:. xml-light2:. zstd:. safe-resources:."
    - PACKAGE=xapi-libs-transitional
