language: c
services: docker
install:
    - wget https://raw.githubusercontent.com/xenserver/xenserver-build-env/master/utils/travis-build-repo.sh
script:
    - cp vhd-tool.opam opam && bash travis-build-repo.sh
sudo: true
env:
    global:
        - REPO_PACKAGE_NAME=vhd-tool
        - REPO_CONFIGURE_CMD=""
        - REPO_BUILD_CMD=make
        - REPO_TEST_CMD=true
