language: c
install: wget https://raw.githubusercontent.com/xapi-project/ocaml-travisci-skeleton/master/.travis-opam.sh
script: PACKAGE=xapi-rrd-transport bash -ex .travis-opam.sh
env:
  - OCAML_VERSION=4.00.1
  - OCAML_VERSION=4.01.0
  - OCAML_VERSION=4.02.1
