# https://packaging.python.org/en/latest/specifications/pyproject-toml/
[project]
name = "xen-api"
requires-python = ">=2.7, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.*, !=3.4.*, !=3.5.*"
license = {file = "LICENSE"}
keywords = ["xen-project", "Xen", "hypervisor", "libraries"]
maintainers = [
    {name = "Christian Lindig"},
    {name = "Edwin Török"},
    {name = "Rob Hoes"},
    {name = "Pau Ruiz Safont"},
]
readme = "README.markdown"
# https://pypi.org/classifiers/
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Operating System :: POSIX :: Linux :: XenServer Dom0",
    "Operating System :: POSIX :: Linux :: XCP-ng Dom0",
    "Programming Language :: ML",
    "Programming Language :: Python :: Implementation :: CPython",
]

[project.urls]
homepage = "https://github.com/xapi-project/xen-api"
repository = "https://github.com/xapi-project/xen-api"

[tool.black]
line-length = 88

[tool.isort]
line_length = 88
py_version = 27
profile = "black"
combine_as_imports = true
ensure_newline_before_comments = false

[tool.pylint.messages_control]
disable = [
    "missing-function-docstring",
    "missing-module-docstring",
    "missing-class-docstring",
    "consider-using-f-string",
    "too-many-branches",
    "too-many-arguments",
    "broad-exception-caught",
    "no-else-break",
    "no-else-return",
    "invalid-name",
    "import-error",
    "unnecessary-pass",
    "unspecified-encoding",
    "protected-access",
    "no-member",  # Some mutiple inheritance classes may have this issue
    "too-many-locals",  # Long functions. Need to refine the code
    "too-many-statements",
    "too-many-return-statements"
]

[tool.mypy]
# Note mypy has no config setting for PYTHONPATH, so you need to call it with:
# PYTHONPATH="scripts/examples/python:.:scripts:scripts/plugins:scripts/examples"
files = [
    "python3",
    "scripts/usb_reset.py",
]
pretty = true
error_summary = true
strict_equality = true
show_error_codes = true
show_error_context = true
# Check the contents of untyped functions in all modules by default:
check_untyped_defs = true
scripts_are_modules = true
python_version = "3.11"
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_redundant_casts = true
disallow_any_explicit = false
disallow_any_generics = true
disallow_any_unimported = true
disallow_subclassing_any = true


[tool.pytype_reporter]
default_branch = "master"
discard_messages_matching = [
    "Couldn't import pyi for 'xml.dom.minidom'",
    "No attribute '.*' on RRDContentHandler",
    "No attribute 'group' on None",
    "No Node.TEXT_NODE in module xml.dom.minidom, referenced from 'xml.dom.expatbuilder'"
]
expected_to_fail = [
    # Need 2to3 -w <file> and maybe a few other minor updates:
    "scripts/hatests",
    "scripts/backup-sr-metadata.py",
    "scripts/restore-sr-metadata.py",
    # SSLSocket.send() only accepts bytes, not unicode string as argument:
    "scripts/examples/python/exportimport.py",
    # Other fixes needed:
    "scripts/examples/python/mini-xenrt.py",
    "scripts/examples/python/XenAPI/XenAPI.py",
    "scripts/examples/python/monitor-unwanted-domains.py",
    "scripts/examples/python/shell.py",
    "scripts/examples/smapiv2.py",
    "scripts/static-vdis",
    "scripts/plugins/extauth-hook-AD.py",
]


[tool.pytype]
inputs = [
    "scripts/static-vdis",
    "scripts/Makefile",
    "scripts/generate-iscsi-iqn",
    "scripts/hatests",
    "scripts/host-display",
    "scripts/mail-alarm",
    "scripts/print-custom-templates",
    "scripts/probe-device-for-file",
    "scripts/xe-reset-networking",
    "scripts/xe-scsi-dev-map",
    "scripts/examples/python",
    "scripts/yum-plugins",
    "scripts/*.py",
    "python3/packages/*.py",

    # Python 3
    "python3/bin/hfx_filename",
    "python3/bin/perfmon",
    "python3/bin/*.py",
    "python3/libexec/*.py",

    # To be added later,
    # when converted to Python3-compatible syntax:
    # "ocaml/message-switch/python",
    # "ocaml/idl/ocaml_backend/python",
    # "ocaml/xapi-storage/python",
]
disable = [
    "import-error",  # xenfsimage, xcp.bootloader. xcp.cmd
    "ignored-abstractmethod",
    "ignored-metaclass",
    # https://github.com/google/pytype/issues/1130,
    # https://github.com/google/pytype/issues/1485:
    "pyi-error",
]
platform = "linux"
pythonpath = "scripts/examples/python:.:scripts:scripts/plugins:scripts/examples"
