.apicalllab {
    display:block;
    margin-bottom:2px;
}

.apicallspan {
    float:left;
    width:80px;
    text-align:right;
}

.apicallinput {
    border: 1px solid black;
    width: 300px;
    margin-left:10px;
}

.apicallcheck {
    border: 1px solid black;
    margin-left:10px;
}

#msgargsform {
    float:left;
    width:410px;
}

#apicallinput {
    width:300px;
}
