html {
     height: 100%;
}

#topbar {
    width: 100%;
    margin: 0px;
    padding: 5px;
    offset: 0px;
    background-color: #333333;
    color: white;
}

.vmop {
    margin:2px;

    border: 1px solid #000
}

.topbutton {
    margin:0px;
    font-family:sans;
    font-size:xx-small;
    border: 1px solid #000
}

.deleted {
    color: blue;
}
#img {
     position: absolute;
     bottom:10px;
     left:10px;
}
input {
    border: none;
    font-size:xx-small;
    font-family:sans;
}

table.mytable {
	      width:100%;
	border-collapse: collapse;
	border:1px solid #aaa;
} 

table.mytable td {
	margin:0px;
	padding:2px;
        font-family:sans;
}

.mytable thead th{
	text-transform:uppercase;
	background:#000;
	color:#fff;
	width:100%;
}
.classviewp {
	    width:98%;
	    padding:2px;
	    margin-left:2px;
	    margin-right:2px;
	    margin-top:1px;
	    margin-bottom:1px;
	    background:#eeeeff;
}
.xapiobjectstd {
	       width:200px;
}
.pre {
     border-bottom: 1px solid black;
}
.prelabel {
	  font-size:x-small;
	  margin-left:10px;
	  margin-right:10px;
	  margin-bottom:2px;
}
span.editable {
        color:#f00;
}
tr {
	background:#eef;
}
.mytable tbody tr{
        font-family:sans;
        font-size:xx-small;
}
.mytable tbody th{
        font-family:sans;
        font-size:xx-small;
	background:#000;
	color:#fff;
}
.window {
    padding:0px;
    background-color:#ff0000;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    background-color:#e2e2e2;
    border-color:#252525 rgb(85,85,85) rgb(85,85,85);
    border-style:solid;
    border-width:1px 2px 2px;
    }

    .windowinner {
    position:relative;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    }
    
    .windowtitlebar {
    cursor:move;
    
    background-image: url(images/window_titlebar.png);
    background-repeat: repeat-x;
    height:16px;
    position: relative;
    }

    .windowtitletext {
    color:white;
    font-family:arial;
    font-size:10px;
    font-weight:bold;
    padding: 1px 1px 1px 5px;
    }

    .windowtitlebuttons {
    cursor: default;
    position:absolute;
    right:1px;
    top: 0px;
    width:40px;
    }		

    .windowclosebutton {
    float: right;
    position:relative;
    background-image: url(images/window-close.gif);
    display:block;
    height:13px;
    padding:1px;
    width:13px;
    background-position: center;
    background-repeat: no-repeat;
    }   

    .windowcontent {
    background-color: #e2e2e2;
    border-top: 1px solid #ffffff;
    font-size: 0.9em;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 1px;
    position: relative
}   

    .content {
    overflow:auto;
}    
    .windowstatusbar {
    background-color: #e2e2e2;
    border-top: 1px solid #aca899;
    height: 14px;
    overflow: hidden;
    position: relative;
    }		     

    .windowresize {
    cursor: se-resize;
    background-image: url(images/resize-handle-bottom-right.gif);
    background-repeat: no-repeat;
    border-left: 1px solid #aca899;
    bottom: 1px;
    height: 14px;
    position: absolute;
    right: 1px;
    width: 14px;
    }
tr.oddrow {
        background:#ddf;
}

div.wintitle{
        float:left;
	border:1px solid #aaa;
	margin-left:3px;
	margin-right:-6px;
	padding-right: -5px;
	padding-left:auto;
	padding-right:auto;
}

span.wintitleinner{
	margin-left: auto;
	margin-right:auto;
	float:left;
	
}

div.winclose{
        float:right;
}

body {
    font-family:sans;
    font-size: xx-small;
    height:100%;
    width:100%;
    padding: 0px;
    margin: 0px;
    background: #B4CFE5 url(images/background_inside.gif) repeat-x fixed left top;
}

.hoverbold
{
    font-weight: bold;
    cursor: pointer;
}
.disconnected
{
    background-color: red;
    padding: 2px;
}
.connecting 
{
    background-color: yellow;
    color: black;
    padding:2px;
}
.connected
{
    background-color: green;
    padding:2px;
}
#status
{
	position: absolute;
	right:5px;
}

#test {display:block; clear:both; position:absolute; bottom:0px; width:100%; background-color:#ff0000}