div.HAHOST {
    margin:5px;
    width:120px;
    color:white;
    font-family:sans;
    background-color:blue;
    float:left;
}

div.HAHOSTDISABLED {
    margin:5px;
    width:120px;
    color:white;
    font-family:sans;
    background-color:grey;
    float:left;
}

div.HAHOSTOFFLINE {
    margin:5px;
    width:120px;
    color:white;
    font-family:sans;
    background-color:red;
    float:left;
}

div.HAVMNEW {
    color:black;
    width:100px;
    margin-left:9px;
    background-color:red;
    border: 1px solid black;
}

div.HAVM {
    color:black;
    width:100px;
    margin-left:9px;
    background-color:green;
    border: 1px solid black;
}