
div.nethost {
    background-color:#8888ff;
    padding:5px;
}

div.netbond {
    background-color:#88ff88;
    margin:5px;
    border:1px solid black;
    float:left;
}

div.netphyscontainer {
    height:40px;
}

div.netvlancontainer {
    border-top: 1px dotted black;
    margin:0;
    height:40px;
    padding:0;
}

div.netvlan {
    background-color:#bbffff;
    margin-left:-1px;
    margin-right:-1px;
    float:left;
    border-right:1px dotted black;
    border-left:1px dotted black;
    height:100%;
    padding:0;
}

div.netphys {
    background-color:#ff00ff;
    border:1px solid black;
    width:88px;
    height:25px;
    float:left;
    margin:5px;
}


