libxenserver
============

Copyright (c) 2007-2023 Cloud Software Group, Inc. All Rights Reserved.

libxenserver is a complete SDK for XenServer exposing the XenServer API to
C developers.

libxenserver includes a C function call for each API call, so API
documentation and examples written for for other languages can be easily
mapped to C. In particular, the SDK Guide and the Management API Guide are ideal
for developers wishing to use libxenserver.

libxenserver is free software. You can redistribute and modify it under the
terms of the BSD 2-Clause license. See COPYING for details.

Reference
---------

For XenServer documentation see https://docs.xenserver.com

The XenServer Management API Reference is available at
https://docs.xenserver.com/en-us/xenserver/8/developer/management-api

The XenServer Software Development Kit Guide is available at
https://docs.xenserver.com/en-us/xenserver/8/developer/sdk-guide

A number of examples to help you get started with the SDK is available at
https://github.com/xenserver/xenserver-samples

For community content, blogs, and downloads, visit
https://www.xenserver.com/blogs and https://www.citrix.com/community/

To network with other developers using XenServer visit
https://discussions.citrix.com/forum/101-hypervisor-formerly-xenserver/


Dependencies
------------

This library is dependent upon the XML toolkit from the GNOME project, by Daniel
Veillard, et al. This can be obtained from http://xmlsoft.org/. It is packaged
as libxml2-devel on CentOS and libxml2-dev on Debian.

(Note that libxml2 depends on libiconv, which may not be installed by default on
all systems).


Folder structure
----------------

This archive contains the following folders that are relevant to C developers:
- libxenserver/bin: contains the compiled binaries
- libxenserver/src: contains the source code.


Compiling from source
---------------------

To build, simply type "make" in the libxenserver/src directory.
