<Project Sdk="Microsoft.NET.Sdk">
  <PropertyGroup>
    <Version>0.0.0</Version>
    <TargetFrameworks>netstandard2.0;net45</TargetFrameworks>
    <OutputType>Library</OutputType>
    <RootNamespace>XenAPI</RootNamespace>
    <GenerateAssemblyInfo>True</GenerateAssemblyInfo>
    <GeneratePackageOnBuild>True</GeneratePackageOnBuild>
    <Title>XenServer.NET</Title>
    <Authors>Citrix Systems, Inc.</Authors>
    <PackageId>$(AssemblyName).NET</PackageId>
    <Product>$(AssemblyName).NET</Product>
    <Description>.NET wrapper for the XenServer API</Description>
    <Copyright>Copyright (c) Citrix Systems, Inc. All rights reserved.</Copyright>
    <PackageTags>citrix hypervisor virtualization sdk jsonrpc .net c# xen xenserver</PackageTags>
    <PackageLicenseExpression>BSD-2-Clause</PackageLicenseExpression>
    <RepositoryUrl>https://github.com/xapi-project/xen-api</RepositoryUrl>
    <PackageIcon>packageIcon.png</PackageIcon>
    <RepositoryType>git</RepositoryType>
    <PackageReadmeFile>README-NuGet.md</PackageReadmeFile>
  </PropertyGroup>
  <ItemGroup>
    <None Include=".\lib\netstandard2.0\Newtonsoft.Json.CH.dll" Pack="true" PackagePath="lib\netstandard2.0\Newtonsoft.Json.CH.dll" />
    <None Include=".\lib\net45\Newtonsoft.Json.CH.dll" Pack="true" PackagePath="lib\net45\Newtonsoft.Json.CH.dll" />
    <None Include=".\LICENSE.Newtonsoft.Json.txt" Pack="true" PackagePath="LICENSE.Newtonsoft.Json.txt" />
    <None Include=".\LICENSE.txt" Pack="true" PackagePath="LICENSE.txt" />
    <None Include=".\packageIcon.png" Pack="true" PackagePath="\" />
    <None Include=".\README-NuGet.md" Pack="true" PackagePath="\" />
  </ItemGroup>
  <PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Debug|AnyCPU' ">
    <TreatWarningsAsErrors>true</TreatWarningsAsErrors>
  </PropertyGroup>
  <ItemGroup Condition="'$(TargetFramework)' == 'netstandard2.0'">
    <Reference Include="Newtonsoft.Json.CH.dll">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>.\lib\netstandard2.0\Newtonsoft.Json.CH.dll</HintPath>
    </Reference>
  </ItemGroup>
  <ItemGroup Condition="'$(TargetFramework)' == 'net45'">
    <Reference Include="Newtonsoft.Json.CH.dll">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>.\lib\net45\Newtonsoft.Json.CH.dll</HintPath>
    </Reference>
  </ItemGroup>
  <ItemGroup>
    <Compile Update="FriendlyErrorNames.Designer.cs">
      <AutoGen>True</AutoGen>
      <DesignTime>True</DesignTime>
      <DependentUpon>FriendlyErrorNames.resx</DependentUpon>
    </Compile>
  </ItemGroup>
  <ItemGroup>
    <EmbeddedResource Update="FriendlyErrorNames.resx">
      <SubType>Designer</SubType>
      <Generator>ResXFileCodeGenerator</Generator>
      <CustomToolNamespace>XenAPI</CustomToolNamespace>
      <LastGenOutput>FriendlyErrorNames.Designer.cs</LastGenOutput>
    </EmbeddedResource>
  </ItemGroup>
</Project>
