/*
 * Copyright (C) 2006-2009 Citrix Systems Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published
 * by the Free Software Foundation; version 2.1 only. with the special
 * exception on linking described in file LICENSE.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 */

function make_title() {
	document.write('<title>Citrix Hypervisor Management API</title>');
}

function make_header(t) {
	html = '<img src="http://citrix.com/site/resources/v4_includes/css/5.0/citrix_logo.gif" alt="Citrix" width="208px" height="36px" border="0" style="float:left">'
		+ '<h1 style="float:left; font-size: 24px;"><a href="index.html">Citrix Hypervisor Management API</a></h1>'
	document.getElementById('header').innerHTML = html;
}

first_release = 'rio';

function get_release_name(s) {
	switch (s) {
{{#releases}}
		case '{{code_name}}':
			return '{{branding}}';
{{/releases}}
		default:
			return 'Unreleased';
		}
}

