---
title: |
  \IfFileExists{logo.png}{\includegraphics[width=150px]{logo.png}\break}{}
  Citrix XenServer Management API\break
  Version {{api_version_major}}.{{api_version_minor}}
date: |
  Published {{current_month}}-{{current_year}}\break
  \break
  &copy; 2006-{{current_year}} Citrix Systems, Inc. All Rights Reserved.

papersize: A4
documentclass: book
classoption: oneside
geometry: margin=1in
toc: true
header-includes: |
  \usepackage{graphicx}
  \usepackage{fancyhdr}
  \pagestyle{fancy}
  \lhead{}
  \cfoot{\thepage}
...
