<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN" "../../../tools/docbook-xml/docbookx.dtd"[
    <!ENTITY % local SYSTEM "local.ent">
    <!ENTITY legal SYSTEM "shared/legal.ent">
    <!ENTITY % ISOamsr SYSTEM "../../../tools/docbook-xml/ent/iso-amsr.ent">
    <!ENTITY % ISOnum SYSTEM "../../../tools/docbook-xml/ent/iso-num.ent">

    %local;
    ]>

<book lang="en">
  <bookinfo id="bookinfo_titlestuff">
    <title>&COMPANY_NAME_SHORT; &PRODUCT_BRAND; <trademark class="registered" role="die"/>
      Management API
    </title>
    <subtitle>API Revision {{api_version_major}}.{{api_version_minor}}</subtitle>
    <pubdate><?dbtimestamp format="B Y"?></pubdate>
    <productnumber>&PRODUCT_VERSION;</productnumber>
    <edition>1.0</edition>
    <pubsnumber>&PRODUCT_BRAND;-&PRODUCT_VERSION;-&BUILD_NUMBER;</pubsnumber>
    <copyright>
      <year>&COPYRIGHT_YEARS;</year>
      <holder>&COMPANY_NAME_LEGAL;</holder>
    </copyright>&legal;
  </bookinfo>

  $for(include-before)$
  $include-before$
  $endfor$
  $body$
  $for(include-after)$
  $include-after$
  $endfor$

</book>
