html, body {
  height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
}

body{
  font-family: Verdana, helvetica, arial, sans-serif;
  background: #ffffff;
  color: #000000;
}

h1 { 
  color: #c1602f;
/*  margin-top:4px; */
  margin-bottom:4px;

}

div.main {
  margin-top: 4px;
}

img {
    border: 0;
}

img.totheright {
  float: right;
  margin: 0;
  padding: 0;
}
div.banner {
  height: 69px;
  margin: 0;
  padding: 0;
}
div.bar {
  background: #000000;
  height: 30px;
  color: #ffffff; 
  padding-left: 20px;
  padding-top:6px;
  font-weight: bold;
}

h1.banner {
  padding: 10px;
  margin:0;
  padding-left:20px;
  color: #000000;
}
#bar a  {
  text-decoration:none;
  color: #ffffff;
}

a:hover {
  color: #d1805f;
}
a {
  color: #c1602f;
  font-weight: bold;
}

td.tableheader { 
  background-color: #c1602f;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 4px;
}
td.tableheader_sub {
  background-color: #ffbc9b;
  color: black;
  padding: 4px;
}
div.tableheader { 
  background-color: #c1602f;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 4px;
}

table {
  width: 100%;
}

.title{
	font: 250% "Verdana", "Helvetica", "sans-serif";
	vertical-align: middle;
}

span.type, span.id, span.key {
	  font-family: Courier, "Courier New", monospace;
}