Source: xen-api
Section: admin
Priority: extra
Maintainer: Jon Ludlam <jonathan.ludlam@eu.citrix.com>
Build-Depends: debhelper (>= 8.0.0), dh-autoreconf, dh-ocaml, ocaml-native-compilers, ocaml-findlib, camlp4, camlp4-extra, autotools-dev, libtype-conv-camlp4-dev, libxmlm-ocaml-dev, uuid-dev, libxcp-ocaml, libxcp-ocaml-dev, omake, libxen-4.1-ocaml-dev, libxen-4.1-ocaml, libpam-dev, zlib1g-dev, xen-utils, libxen-dev, libounit-ocaml-dev
Standards-Version: 3.9.2
Homepage: http://www.xen.org/XCP/
#Vcs-Git: git://git.debian.org/collab-maint/xen-api.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/xen-api.git;a=summary

Package: xcp-xapi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xcp-squeezed, xcp-v6d, xcp-fe, xcp-storage-managers, xen-hypervisor-4.1, xen-utils-4.1, stunnel, hwdata, xcp-eliloader
Recommends: xcp-vncterm, xcp-guest-templates
Description: The Xen API server
 The Xen API server, which allows the control of the virtual machines hosted via
 the XenAPI.

Package: xcp-squeezed
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xen-hypervisor
Description: A daemon in charge of ballooning xen domains
 This daemon takes requests from xapi in the form of xenstore trees 
 and balloons domains up and down. 

Package: xcp-v6d
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The feature daemon for xapi. 
 It's only temporarily being installed until a better solution is 
 sorted.

Package: libxenapi-ocaml-dev
Architecture: any
Section: ocaml
Depends: ${ocaml:Depends}, ${misc:Depends}
Description: OCaml bindings for the Xen API
 This package contains ocaml libraries for the Xen API. These will
 allow a program to communicate with a VM host running xapi.

Package: xcp-xapi-debug
Section: debug
Architecture: any
Depends: xcp-xapi, ${misc:Depends}
Description: Binary utils to help debug xapi
 
