#!/bin/sh

set -e

action=$1
version=$2

. /usr/share/debconf/confmodule
db_version 2.0

# Get the values from the config file
if [ -r /etc/xcp/network.conf ] ; then
	NETWORK_TYPE=`cat /etc/xcp/network.conf`
fi

# This controls the default behavior, which here will be openvswitch.
# Invert words bridge and openvswitch to change this.
if ! [ "${NETWORK_TYPE}" = "bridge" ] ; then
	NETWORK_TYPE="openvswitch"
fi

db_set xcp-xapi/networking_type ${NETWORK_TYPE}
db_input high xcp-xapi/networking_type || true
db_go

#DEBHELPER#

exit 0;
