{{#serialize}}
func serialize{{func_name_suffix}}(context string, value {{type}}) (string, error) {
	_ = context
	return string(value), nil
}

{{/serialize}}
{{#deserialize}}
func deserialize{{func_name_suffix}}(context string, input interface{}) (value {{type}}, err error) {
	strValue, err := deserializeString(context, input)
	if err != nil {
		return
	}
	switch strValue {
{{#items}}
	case "{{value}}":
		value = {{name}}
{{/items}}
	default:
		value = {{type}}Unrecognized
	}
	return
}

{{/deserialize}}