{{#int}}
{{#serialize}}
func serialize{{func_partial_type}}(context string, value {{type}}) ({{type}}, error) {
	_ = context
	return value, nil
}

{{/serialize}}
{{#deserialize}}
func deserialize{{func_partial_type}}(context string, input interface{}) (value {{type}}, err error) {
	_ = context
	if input == nil {
		return
	}
	strValue := fmt.Sprintf("%v", input)
	value, err = strconv.Atoi(strValue)
	if err != nil {
		floatValue, err1 := strconv.ParseFloat(strValue, 64)
		if err1 == nil {
			return int(floatValue), nil
		}
	}
	return
}

{{/deserialize}}
{{/int}}