body {
    background-color: white;
    font-family: Verdana, Helvetica, sans-serif;
	 font-size: 9pt;
	 color: #000000;
}

.caution, .note, .warning {
	background-color: #e0e0e0;
	border: 0.5pt black;
	margin: 12pt;
	padding: 8pt;
   font-family: Arial, Verdana, Tahoma, sans-serif;
	font-weight: bold;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

ul {
    margin-top: 1px;
    margin-bottom: 1px;
}

ol {
    margin-top: 1px;
    margin-bottom: 1px;
}

li {
    margin-top: 1px;
    margin-bottom: 4px;
}

li p {
    margin-top: 0px;
    margin-bottom: 0px;
}

li pre.screen {
	margin-left: 10px;
	margin-top: 2px;
   margin-bottom: 0px;
	font-family: Courier, monospace;
}

dt {
    margin-top: 1px;
    margin-bottom: 2px;
}

dd {
    margin-top: 1px;
    margin-bottom: 4px;
}

h1 {
	color: #1D3D62;
	margin-bottom: 4px
}

h2 {
 	color: #3573B9;
	margin-bottom: 6px
}

dt {
    font-weight: bold;
    margin-left: 14px;
}

td, th {
	vertical-align: top;
	border: 1px solid #666666;
	padding: 2px 2px 2px 6px;
}

th {
	background-color: #e0e0e0;
	text-align: left;
}

.caption {
    font-weight: bold;
	 font-style: italic;
    margin-bottom: 28px;
	 margin-top:4px;
}

.mediaobject {
    margin-top: 12px;
    margin-bottom: 8px;
}

.command {
	font-family: Courier New, Courier, monospace;
}
