.revision-table {
  width: 50%;
  margin: 1em auto 1em auto;
  font-size: 80%;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label.label-default {
  background-color: #777;
}

.label.label-info {
  background-color: #5bc0de;
}

.label.label-danger {
  background-color: #d9534f;
}

.label.label-warning {
  background-color: #f0ad4e;
}

.label.label-success {
  background-color: #5cb85c;
}