.revision-table {
  width: 50%;
  margin: 1em auto 1em auto;
  font-size: 80%;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label.label-default {
  background-color: #777;
}

.label.label-info {
  background-color: #5bc0de;
}

.label.label-danger {
  background-color: #d9534f;
}

.label.label-warning {
  background-color: #f0ad4e;
}

.label.label-success {
  background-color: #5cb85c;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;

}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
