[Unit]
Description=Generate xapi ssl certificate
Requires=forkexecd.service
After=forkexecd.service

[Service]
Type=oneshot
ExecStart=/opt/xensource/libexec/gencert /etc/xensource/xapi-ssl.pem
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
