[Unit]
Description=Generate TLS certificates for xapi
Wants=forkexecd.service
After=forkexecd.service

[Service]
User=root
Type=oneshot
ExecStart=/bin/sh -c '/opt/xensource/libexec/gencert /etc/xensource/xapi-ssl.pem default \
                   && /opt/xensource/libexec/gencert /etc/xensource/xapi-pool-tls.pem xapi:pool'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
