[Unit]
Description=Stunnel Per-Connection Server
After=syslog.target network.target
Before=xapi.service

[Service]
ExecStart=/usr/bin/stunnel /etc/stunnel/xapi.conf
Type=simple
StandardInput=socket
StandardOutput=socket
StandardError=journal

[Install]
WantedBy=multi-user.target
