[Unit]
Description=Stunnel Socket for Per-Connection XAPI Service
Requires=gencert.service
After=gencert.service
Before=xapi.service

[Socket]
ListenStream=443
Accept=yes
MaxConnections=1024

[Install]
WantedBy=sockets.target
