[Unit]
Description=XenAPI server (XAPI)

After=attach-static-vdis.service
After=forkexecd.service
After=genptoken.service
After=message-switch.service
After=save-boot-info.service
After=syslog.target
After=time-sync.target
After=v6d.service
After=xapi-storage-script.service
After=xcp-networkd.service
After=xcp-networkd.service
After=xcp-rrdd.service
After=xenopsd-xc.service
After=xenstored.service
After=xapi-clusterd.service

Conflicts=shutdown.target

[Service]
Type=simple
Restart=on-failure
ExecStart=@LIBEXECDIR@/xapi-init start
ExecStartPost=/usr/bin/touch /var/lock/subsys/xapi
#ExecStartPost=/usr/bin/rm -f /etc/xensource/boot_time_info_updated
ExecStop=@LIBEXECDIR@/xapi-init stop
ExecStopPost=/usr/bin/rm -f /var/lock/subsys/xapi /var/run/xapi.pid /var/run/xapi_startup.cookie /var/run/xapi_init_complete.cookie
StandardError=null

[Install]
WantedBy=multi-user.target
