[Unit]
Description=Start/stop domains on dom0 start/shutdown
Requires=proc-xen.mount
After=remote-fs.target xapi.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=@INVENTORY@
ExecStart=@BINDIR@/xapi-autostart-vms
ExecStop=@LIBEXECDIR@/shutdown $INSTALLATION_UUID
ExecStop=@LIBEXECDIR@/shutdown --force $INSTALLATION_UUID

[Install]
WantedBy=multi-user.target
