[Unit]
SourcePath=@LIBEXECDIR@/xapi-init
Description=XenServer server (XAPI)
After=network-online.target forkexecd.service message-switch.service v6d.service save-boot-info.service attach-static-vdis.service genptoken.service xcp-rrdd.service xapi-storage-script.service xenopsd-xc.service
Conflicts=shutdown.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=no
PIDFile=/var/run/xapi.pid
ExecStart=@LIBEXECDIR@/xapi-init start
ExecStop=@LIBEXECDIR@/xapi-init stop

[Install]
WantedBy=multi-user.target
