[Unit]
Description=Start/stop domains on dom0 start/shutdown
Requires=proc-xen.mount
After=remote-fs.target xapi.service xapi-clusterd.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=@INVENTORY@
ExecStart=@BINDIR@/xapi-autostart-vms
ExecStop=/bin/sh -c "/opt/xensource/bin/xe host-prepare-for-poweroff uuid=$INSTALLATION_UUID"
ExecStop=/opt/xensource/bin/xe host-emergency-ha-disable force=true soft=true

# Generous 24hr timeout that corresponding to the max evacuation time of a host
# with memory close to our support limit. Finer grained timeout control depends
# on the logic in the shutdown script itself.
TimeoutStopSec=86400

[Install]
WantedBy=multi-user.target
