[Unit]
Description=XCP networking daemon
Documentation=man:xcp-networkd(1)
After=forkexecd.service message-switch.service syslog.target
Wants=forkexecd.service message-switch.service syslog.target

[Service]
Type=notify
Environment="LD_PRELOAD=/usr/lib64/libjemalloc.so.2"
Environment="MALLOC_CONF=narenas:1,tcache:false"
Environment=OCAMLRUNPARAM=b
EnvironmentFile=-/etc/sysconfig/xcp-networkd
ExecStart=/usr/sbin/xcp-networkd $XCP_NETWORKD_OPTIONS
StandardError=null
# restart but fail if more than 5 failures in 30s
Restart=on-failure
StartLimitBurst=5
StartLimitInterval=30s

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
