SUBSYSTEM=="xen-backend", KERNEL=="tap*", RUN+="/usr/lib/xenopsd/tap $env{ACTION}"
SUBSYSTEM=="xen-backend", KERNEL=="vbd*", RUN+="/usr/lib/xenopsd/block-xl $env{ACTION}"

SUBSYSTEM=="xen-backend", KERNEL=="vif*", RUN+="/usr/lib/xenopsd/vif-xl $env{ACTION} type_if=vif"
SUBSYSTEM=="net",         KERNEL=="tap*", RUN+="/usr/lib/xenopsd/vif-xl $env{ACTION} type_if=tap"

KERNEL=="evtchn", NAME="xen/%k"
