[Unit]
Description=Simulated VM manager for testing
Documentation=man:xenopsd-simulator(1)
After=message-switch.service syslog.target
Wants=message-switch.service syslog.target

[Service]
EnvironmentFile=-/etc/sysconfig/xenopsd
ExecStart=/usr/sbin/xenopsd-simulator --config /etc/xenopsd.conf $XENOPSD_SIMULATOR_OPTIONS
StandardError=null
# restart but fail if more than 5 failures in 30s
Restart=on-failure
StartLimitBurst=5
StartLimitInterval=30s

[Install]
WantedBy=multi-user.target
