# example hvm vm config
hvm = true

# vm stuff
name = W2k3
description = Window 2003 Server

# kernels stuff
kernel = /usr/lib/xen/boot/hvmloader

# memory
memory = 256

# actions
on_shutdown = destroy
on_reboot = restart
on_suspend = destroy
on_crash = destroy

# other
audio = false

# disks
#disk = 664ac9d8-40bf-a000-17f2-c4a5c44573c5:9f8c68ca-160a-d127-54b9-f1c053c2bfe5:ioemu:hda:w
disk = 664ac9d8-40bf-a000-17f2-c4a5c44573c5:c662d8c5-0dab-3fee-f072-c96fbdc6e627:ioemu:hda:w
