# example vm config

# vm stuff
name = VM Test
description = This is a test VM

# kernels stuff
kernel = /boot/vmlinuz-2.6-xenU
cmdline = root=/dev/sda1 ro

# memory
memory = 256

# actions
on_shutdown = destroy
on_reboot = restart
on_suspend = destroy
on_crash = destroy

# other
audio = false

# disks

# lvm:
#disk = 8cbac5b8-edeb-b04b-d455-e08e07ec3088:b957ad47-5fd5-717f-bd1a-56e7f84ba50f:para:sda1:w
# qcow:
#disk = 664ac9d8-40bf-a000-17f2-c4a5c44573c5:3b55337c-e191-b06f-7154-62fb1333b559:para:sda:w
#disk = 664ac9d8-40bf-a000-17f2-c4a5c44573c5:7e95693c-7ecd-9614-9686-91d7fca92888:para:sda:w
disk = sr:7934077a-e7e8-3721-0a8f-837d7bc4111b:para:sda:w

#net = type=para
